@import "reset.css";

@import url('https://fonts.cdnfonts.com/css/arial-mt?styles=48912,48914,48916,48920,48930,48911');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

h1, h2, h3,
h4, h5, h6 {
    font-family: "Oswald", serif;
    letter-spacing: -0.02em;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: "Arial MT", sans-serif;
    font-weight: 700;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    max-width: 100%;
    background: #CE865F;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 88px 32px 100px;
}

.link-logo {
    font-size: 18px;
    font-weight: 900;
    line-height: 25.38px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.link-logo,
.link-item_nav {
    color: #fff;
    text-transform: uppercase;
}

.list-nav {
    display: flex;
    align-items: center;
    gap: 32px;
}

.link-item_nav {
    font-weight: 400;
    font-size: 14px;
    line-height: 18.2px;
}

.block-banner {
    max-width: 1280px;
    position: relative;
}

.img-banner {
    width: 100%;
}

.banner-circle {
    width: 564px;
    position: absolute;
    right: 18px;
    top: 70px;
}

.block-description {
    position: absolute;
    top: 55%;
    left: 303px;
    transform: translate(-50%, -50%);
    z-index: 2000;
    max-width: 405px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
}


.title-page {
    font-size: 52px;
    font-weight: 500;
    line-height: 66px;
    color: #F6EBD9;
    text-transform: uppercase;
}

.your-clients {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
    border-top: solid 2px #FFD895;
    border-bottom: solid 2px #FFD895;
}

.your-clients_img {
    position: relative;
    display: flex;
    align-items: center;
}

.client_img {
    border-radius: 50%;
    border: 1px solid #fff;
}

.img-client {
    margin-left: -15px;
}

.amount-cabins {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
}

.amount-cabins,
.text_block-banner {
    color: #fff;
}

.amount-cabins_text {
    font-size: 10px;
    line-height: 11.5px;
    max-width: 85px;
}

.text_block-banner {
    padding: 5px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
}

.btn-order {
    background-image: url("../images/delivering/btn-arrow.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #636363;
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.75px;
    padding: 5px 59px 9px;
    margin: 17px 0 0 0;
}

.advantages {
    width: 100%;
    background: #CE865F;
    position: relative;
    top: -4px;
}

.advantages-container {
    padding: 34px 100px 36px;
}

.advantages-blocks {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 21px;
}

.advantag-block,
.advantag-block_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advantag-block {
    gap: 5px;
    max-width: 235px;
}

.img-advantag {
}

.advantag-block_text {
    gap: 8px;
    color: #fff;
}

.advantag-block_text-title {
    max-width: 234px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    text-transform: uppercase;
}

.advantag-block_texts {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.dots {
    display: none;
}

.about {
}

.about-container {
    display: flex;
    gap: 85px;
    padding: 64px 0 34px 100px;
}

.about-container_description {
    max-width: 455px;
}

.container-description,
.about-container_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.about-container_title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    text-transform: uppercase;
    color: #CE865F;
    font-size: 29px;
    font-weight: 500;
    line-height: 36px;
    max-width: 405px;
}

.about-container_title::after {
    content: "";
    width: 55px;
    height: 3px;
    background: #CE865F;
    display: block;
}

.about-container_text {
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
}

.container-description {
}

.about_block-description {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.description-btn_number {
    padding: 6px 10px;
    border-radius: 50px;
    color: #939393;
    border: solid 1px #939393;
    background: #D9D9D9;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-btn_number::after {
    display: block;
    position: relative;
    transform: rotate(-90deg);
    border: 1px dashed #939393;
}

.first-step::after {
    content: "";
    width: 118px;
    top: 70px;
}

.second-step::after {
    content: "";
    width: 46px;
    top: 31px;
}

.description-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    max-width: 433px;
}

.description-text_title {
    text-transform: uppercase;
    color: #4F4F4F;
}

.description-texts {
    color: #828282;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
}

.blocks-icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 108px 0 0;
}

.icons-block_top {
    display: flex;
    gap: 20px;
}

.block-icon {
    max-width: 170px;
    background: #CE865F;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 21px 48px 24px 50px;
}

.icon-about_img {
}

.icon-about_text {
    position: absolute;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    line-height: 14px;
    text-align: center;
    max-width: 110px;
    text-transform: uppercase;

    align-items: center;
    justify-content: center;
}

.icon-about_text span {
    font-size: 10px;
    font-weight: 900;
    line-height: 14.1px;
}

.catalog {
    background: #F2EFE9;
}

.icon-about_text,
.catalog-container,
.block-catalog {
    display: flex;
    flex-direction: column;
}

.catalog-container {
    padding: 59px 100px 64px;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.catalog-title {
    text-transform: uppercase;
    color: #CE865F;
    font-size: 52px;
    font-weight: 500;
    line-height: 77.06px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.catalog-title::after {
    content: "";
    width: 55px;
    height: 3px;
    display: block;
    background: #CE865F;
}

.block-catalog {
    gap: 48px;
}

.list-nav_catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

.list-elem {
    text-transform: uppercase;
    color: #4F4F4F;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
    cursor: pointer;
}

.list-elem.active {
    padding: 0 0 5px 0;
    border-bottom: solid 1px #4F4F4F;
}

.product-catalogs {
    overflow: hidden;
    display: flex;
}

.blocks-containers,
.blocks-cabins,
.blocks-san-blocks {
    display: flex;
    align-items: stretch;
    justify-content: center;
    max-width: 1080px;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    padding: 0 0 5px 0;
}

.blocks-cabins,
.blocks-san-blocks {
    display: none;
}

.container {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.block-top {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-top::after {
    content: "";
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card-img,
.container-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description-cabin,
.card-description {
    position: absolute;
    bottom: 0;
}

.description-cabin {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding: 14px 27px;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
}

.description-cabin span {
    font-weight: 700;
}

.description-cabin:first-letter {
    text-transform: uppercase;
}

.block-down,
.container-down {
    text-align: center;
}

.card-name {
    font-size: 26px;
    line-height: 29px;
    font-weight: 500;
    color: #B8B8B8;
    text-transform: uppercase;
    padding: 0 0 15px 0;
}

.card-outline {
    font-size: 14px;
    font-weight: 400;
    line-height: 16.1px;
    color: #B8B8B8;
}

.card-prise {
    font-size: 24px;
    font-weight: 900;
    line-height: 33.84px;
    color: #B8B8B8;
}

/* Стили для активного контейнера */
.container.active .block-top::after {
    display: none;
}

.container.active .card-name,
.container.active .card-outline {
    color: #4F4F4F;
}

.container.active .card-prise {
    color: #CE865F;
}

.container.active {
    transform: scale(1.05);
}

.container .card-img {
    transition: transform 0.5s ease, transform-origin 0.5s ease;
}

.container.active .card-img {
    transform: scale(1);
}

.container .card-description {
    transition: opacity 0.5s ease;
}

/*--------------------*/

.block-btn {
    display: none;
}
